.mobile-nav-content {
    position: absolute;
    right: 0;
    top: 3.15rem;
    display: none;
    > ul > li {
        display: block;
        background-color: $dark-grey;
        height: 3.5rem;
        padding: 0 1.2rem;
        text-align: center;
    }
    
}