$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";

.specialQueries {
    @media #{$media-desktop} {
    background: red;
    }

    @media #{$media-tablet} {
    background: red;
    }

    @media #{$media-mobile} {
    background: red;
    }

    @media #{$media-mobile-sm} {
    background: red;
    }
}