$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$secondary-color: #02f202;

body {
    font: 100% $font-stack;
    color: $primary-color;
}

div {
    a {
        p {
            color:$secondary-color;
        }
        b {
        color: antiquewhite;
        }
    }
    p {
        a {
            color: $secondary-color;
        }
    }
}